@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
body {
  background-color: #44ca87;
  background-image: linear-gradient(315deg, #44ca87 0%, #44baca 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #dcfacf;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 400px;
  overflow: hidden;
}
.quiz-header {
  padding: 4rem 2rem;
}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label {
  cursor: pointer;
}
button {
  background-color: #557be4;
  color: rgb(223, 219, 219);
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover {
  background-color: #04adc4;
}
button:focus {
  outline: none;
  background-color: #44b927;
}
.adminlink {
  margin: 1em 0;
}

@media screen and (max-width: 768px) {
  .quiz-container {
    width: 340px;
  }
  .quiz-header {
    padding: 2rem 1rem;
  }
}
